@{
    var docs = (IEnumerable<IDocument>)ViewData["PostListDocuments"];
    foreach (IDocument doc in docs)
    {
        string file = doc.String("RelativeFilePath").Replace("\\", "/");
        string link = "/Posts/" + System.IO.Path.GetFileNameWithoutExtension(file);
        string lead = doc.String("Lead");
        
        <div class="pure-u-1">
            <a href="@link">
                <h3>@doc.String("Title")</h3>
                @if(!string.IsNullOrWhiteSpace(lead))
                {
                    <h4>@lead</h4>
                }
            </a>
            <p>Posted on @(doc.Get<DateTimeOffset>("Published").ToLocalTime().ToString("D"))</p>            
        </div>   
    }
}