body {
    font-family: "Raleway","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.mono,
.navbar-brand,
.site-heading h1 {
    font-family: monospace;
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: #222222;
    border-bottom: 1px solid #222222;
  }
  .navbar-custom .navbar-brand {
    color: white;
    padding: 20px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li a {
    color: white;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav .open .dropdown-menu li a {
    color: #222222;
  }
}

@media only screen and (min-width: 1170px) {
    .navbar-custom.is-fixed {
        background-color: rgba(34, 34, 34, 0.9);
        border-bottom: 1px solid #222222;
        color: #FFFFFF;
    }

    .navbar-custom.is-fixed .navbar-brand {
        color: #FFFFFF;
    }

    .navbar-custom.is-fixed .nav li a {
        color: #FFFFFF;
    }
}